{% extends 'base.html.njk' %}
{% block title %}Thank you{% endblock title %}
{% block body %}
    <h1>Thank you {{ user }}</h1>
    <a href="http://localhost:8000/top-fossils">Back to top fossils</a>
{% endblock %}