{% extends 'base.html.njk' %}
{% block title %}Most liked fossils{% endblock title %}
{% block body %}
    <h1>Welcome, {{ user }}
    {% for fossil, stupidity in fossils %}
      <div class="fossil-div">
        <h3>{{ user }}, this is a {{ stupidity.name }}</h3>
        <h2>Liked {{ stupidity.num_likes }} times.</h2>
        <img src="{{ stupidity.img }}" />
      </div>
    {% endfor %}
    <label>Which fossil do you like?</label>
    <form action="/like-fossil" method="POST">
      <select name="likedfossil">
        {% for fossil, stupidity in fossils %}
          <option>{{ fossil }}</option>
        {% endfor %}
      </select>
      <button type="submit">Confirm</button>
    </form>
{% endblock %}
